# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so

# === Окружение и зависимости ===
venv/
env/
.venv/

# === Django ===
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# === Медиа файлы (загружаются пользователями) ===
media/
/media/*

# === Docker и Секреты ===
.env
.env.local
postgres_data/

# === macOS ===
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# === Windows ===
Thumbs.db
ehthumbs.db
Desktop.ini

# === IDE (VS Code, PyCharm) ===
.vscode/
.idea/
